.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* //////////////////// */

.colorNavbar{
  background-color: #8a2be2;
}
.colorSearch{
  background-color: orchid;
  color: white;
}

.colorBackground{
  background-color: #191970;
}

.containerHeader{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marginHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1{
  height: 450px;
  width: 115%;
  background-color: rgb(66, 3, 95);
}
.titulo{
  color: white;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 3%;
}
.subtitulo{
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 3%;
}
.divsearchbar{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 3%;
}
.searchbar{
  border-radius: 20px;
}
.buscador{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton{
  color:white;
  background-color:  darkorchid;
}
.boton:hover{
  background-color: #8a2be2;
  color: white;
} 

.seccion{
  height: 700px;
  width: 100%;
  background-color: #191970;
}

.category-head ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  text-overflow: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.category-title{
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content:center;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.category-title:hover{
  opacity: 0.7;
}
.category-title li{
  padding: 0 10px;
}
.category-title span{
  color: #222;
}
.category-name{
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.popular{
  color: white
}
.streaming{
  background-color: blueviolet;
}
.television{
  background-color: darkorchid;
}
.alquiler{
  background-color: mediumorchid;
}
.cines{
  background-color: orchid;
}
.wrapper{
  width: 100%;
  height: 490px;
  background-color:  #191970;
  display: flex;
  overflow-x: auto;
}
.wrapper .item{
  border-radius: 30px;
  min-width: 250px;
  height: 400px;
  line-height: 110px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.item2{
  min-width: 250px;
  height: 50px;
  line-height: 28px;
  margin-top: 0%;
  margin-left: 7.5%;
}

.textoHover:hover{
  color: #61dafb;
}

.wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background:  blueviolet;
  border-radius: 10px;
}

/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background: mediumorchid;
}

.imagenPelicula{
  border-radius: 30px;
  min-width: 250px;
  height: 400px;
}
p{
  color: white;
}
.pruebaImagen{
  background-color: red;
}
.pruebaDesc{
  background-color: green;
}
.imagenDetalle{
  margin: 2%;
}
.containerDetalle{
  background-color: darkorchid;
  height: max-content;
}
h3{
  color: white;
}
h6{
  color: white;
}